.TodoBlock {
  height: 65vh;
  min-width: 45vw;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  border-radius: 6px;
  padding: 3px;
  background: #ffffff;
  z-index: 1;
  position: relative;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .TodoBlock {
    min-width: 95vw;
    min-height: 100vh;
  }
}

.TodoBlock h2 {
  text-align: left;
  padding-left: 0.5%;
}

.Shadow {
  transition: all 0.2s;
}

.Shadow > .TodoBlock {
  transform: scale(0.8);
  z-index: 0;
  position: relative;
}

.Shadow:first-of-type > .TodoBlock {
  left: 10%;
}

.Shadow:nth-of-type(2) > .TodoBlock {
  left: 10%;
}

.Shadow:last-of-type > .TodoBlock {
  left: -10%;
}

.Shadow:hover {
  cursor: pointer;
}

.Shadow input {
  pointer-events: none;
}
