.TodoBlock {
  z-index: 1;
  position: relative;
  left: 0;
}

@media only screen and (min-width: 600px) {
  .Shadow {
    transition: all 0.2s;
  }

  .Shadow > .TodoBlock {
    transform: scale(0.8);
    z-index: 0;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .Shadow > .TodoBlock:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .Shadow:first-of-type > .TodoBlock {
    left: 20%;
  }

  .Shadow:nth-of-type(2) > .TodoBlock {
    left: 20%;
  }

  .Shadow:nth-of-type(3) > .TodoBlock {
    left: -20%;
  }

  .Shadow:last-of-type > .TodoBlock {
    left: -20%;
  }

  .Shadow:hover {
    cursor: pointer;
  }

  .Shadow input {
    pointer-events: none;
  }
}

@media only screen and (max-width: 600px) {
  .TodoBlock {
    min-width: 95vw;
    min-height: 99vh;
    box-shadow: none;
  }

  .Shadow {
    position: absolute;
  }

  .Shadow > .TodoBlock {
    z-index: 2;
  }

  .Shadow:first-of-type {
    right: 100%;
  }

  .Shadow:last-of-type {
    left: 100%;
  }
}
